.container{
    text-align:center;
    font-size: larger;
    margin-top:150px;
    

    
}
body{
    background-image: url(guess.jpeg);
    background-size:cover;
}
#btn{
    padding:3px
}
#btn {
   
    color: rgb(21, 7, 7);
    border-style: outset;
    border-color: pink;
    height: 22px;
    width: 60px;
    font: bold 12px arial, sans-serif;
    text-shadow: none;
    box-shadow: 0px 0px 5px #a28ed0;
}
#btn:hover{
    background-image:linear-gradient(to bottom right, rgb(94, 98, 173), rgb(166, 85, 172)); ;
}
.container input[type=number]{
    background-color:rgb(135, 189, 207);
    box-shadow: 0px 0px 5px #8d87af;
}
.container input[type=number]:hover{
    background-color:rgb(119, 125, 172);
    box-shadow: 0px 0px 5px #ab7dc8;
}